@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<body>
    <p>
        This Site is ment to bring volunteers together with community orginaziation that need help completing projects.<br /><br />

        To contact us use the following link:<br />
        <strong>Contact:</strong>   <a href="mailto:Contact@example.com">Contact@example.com</a><br />
    </p>
</body>