@{
    ViewData["Title"] = "Gallery";
}
<h2>@ViewData["Title"].</h2>



<body>

   
    <div id="largebox">
        <div id="descriptionbox">
            <p>Description box</p>
        </div>
        <div id="beforebox">
            <p>Before pic</p>
        </div>
        <div id="afterbox">
            <p>After Pic</p>
        </div>


    </div>



</body>