@{
    ViewBag.Title = "Home Page";
}

<body>
    <img src="~/images/parkPic.jpg" align="left" height="910" width="420" />
    <img src="~/images/ParkCleanUp.jpg" align="right" height="910" width="420" />
    <p align="center">
        <br /><br /><br />
        Welcome to comunity improvement. This site has been setup to bring civic minded orginizations together with the volunteers that allow these jobs to be completed.<br />
    </p>
</body>